<div class="container margin-top">
    <h1>Adding a new wish</h1>

    <%= render 'form', wish: @wish %>
    
    <div class="container">
        
        <%= link_to 'Back', wishes_path, class:"nav-link", style:"padding-left: 0px;" %>
    </div>
</div>