<footer class="text-center text-lg-start text-white" id="app-navbar">
    <div class="container p-4 pb-1">
        <section class="mb-4 text-center">
            <a class="m-1" href="https://www.facebook.com/djazirifarouk" role="button"><img src="<%= image_path("facebook.png") %>" alt=""></a>
            <a class="m-1" href="https://www.github.com/djazirifarouk" role="button"><img src="<%= image_path("github.png") %>" alt=""></a>
            <a class="m-1" href="https://www.linkedin.com/in/djaziriferouk/" role="button"><img src="<%= image_path("linkedin.png") %>" alt=""></a>
            <a class="m-1" href="https://www.instagram.com/djazirifarouk" role="button"><img src="<%= image_path("instagram.png") %>" alt=""></a>
        </section>
        <div class="text-center p-3 rounded-pill margin-bottom blend-darken" style="background-color: rgba(0, 0, 0, 0.2); margin-bottom: 25px;">
            © 2021 Copyright: Farouk Jaziri - TUNISIA
        </div>
    </div>
</footer>
