<div class="margin-top-header margin-bottom-intro background">
    <h1 class="display-3 text-center text-light padding-text-top">Get what you <b>DESIRE</b></h1>
    <h2 class="display-6 text-center text-light">One for All, All for One...</h2>
    
    <div class="center margin-top margin-bottom">
        <%= link_to 'Add your wish', new_wish_path, class:"btn btn-primary btn-lg rounded-pill"%>
    </div>
</div>


<div class="container-fluid px-0">
    <div class="side-margin">
        <div class="container-fluid-w100">
            <h1 class="center margin-bottom-explain">What we do?</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com//wloilxuq.json"
                                trigger="loop-on-hover"
                                colors="primary:#121331,secondary:#037ef3"
                                style="width:150px;height:150px;">
                            </lord-icon>
                            <h5 class="card-title">Create and Share</h5>
                            <p class="card-text">with BucketD, you can describe your desires and your wishes in order to make them alive.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com//mdgrhyca.json"
                                trigger="loop-on-hover"
                                delay="500"
                                colors="primary:#037ef3,secondary:#037ef3"
                                style="width:150px;height:150px">
                            </lord-icon>
                            <h5 class="card-title">You dream, We realize</h5>
                            <p class="card-text">anyone can support you on this platform, you only have to sign up and make your bucket list.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card text-center shadow-lg p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com//nkmsrxys.json"
                                trigger="loop-on-hover"
                                colors="primary:#121331,secondary:#037ef3"
                                style="width:150px;height:150px">
                            </lord-icon>
                            <h5 class="card-title">You are never ALONE</h5>
                            <p class="card-text">keep supporting your friends, and you will make your score higher as a reward.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center margin-bottom-intro d-flex justify-content-center">
    <div class="col-md-1">
        <%= link_to 'Get Started', wishes_path, class:"btn btn-outline-primary btn-lg"%>
    </div>
    <div class="col-md-1">
        <%= link_to 'More Info', about_index_path, class:"btn btn-outline-info btn-lg" %>
    </div>
</div>