<div class="container margin-top">
    <div class="card space-between">
        <div class="card-body row">
            <div class="col-md-9">
                <h1 class="card-title">About Us</h1>
                <p class="card-text space-between-text">BucketD is a name inspired from Bucket List & Desire.
                                    </br>
                                    <b>Farouk Jaziri</b> is a 2nd year Computer Science Student in the National School of Engineering in Carthage, Tunisia.
                                    </br>
                                    This is his 1st Website, and it was developed with Ruby on Rails.
                                    </br>
                                    Want to know our favorite part about his page?
                                    </br>
                                    Sign up and use all the features presented in this Website.</p>
                <a href="<%= root_path %>" class="btn btn-outline-info">Return to Home</a>
            </div>
            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
            <lord-icon
                class="col-md-3"
                src="https://cdn.lordicon.com//eszyyflr.json"
                trigger="loop"
                delay="900"
                colors="primary:#121331,secondary:#037ef3"
                style="width:250px;height:250px">
            </lord-icon>
        </div>
    </div>

    <div class="card space-between">
        <div class="card-body row">
            <blockquote class="blockquote mb-0 col-md-9">
                <p>The secret of change is to focus all of your energy, not on fighting the old, but on building the new.
                </br>Stay Safe! and remember that TIME is your Currency...</p>
                <footer class="blockquote-footer">Farouk Jaziri<cite>&emsp;--&emsp;if you need me, you will find there, for you.</cite></footer>
            </blockquote>
            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
            <lord-icon
                class="col-md-3"
                src="https://cdn.lordicon.com//yalwfksd.json"
                trigger="loop"
                colors="primary:#121331,secondary:#037ef3"
                style="width:200px;height: 176px;">
            </lord-icon>
        </div>
    </div>

</div>