body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.space-between {
    margin-top: 20px;
    margin-bottom: 60px;
}
.margin-top {
    margin-top: 100px;
}
.space-between-text {
    margin-top: 20px;
    margin-bottom: 20px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
