// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.margin-top {
    margin-top: 100px;
}
.space-between {
    margin-top: 15px;
    margin-bottom: 20px;
}
.space-between-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.space-between-hor {
    margin-left: 5px;
    margin-right: 5px;
}